<form class="ns-import-form" autocomplete="off">
  <header class="ns-import-header">
    <div>
      <h2>Import from Netherscroll <span>[EXPERIMENTAL]</span></h2>
    </div>
    <div class="ns-import-api-status {{#if hasApiKey}}is-ready{{else}}is-missing{{/if}}">
      <i class="{{#if hasApiKey}}fa-solid fa-key{{else}}fa-solid fa-triangle-exclamation{{/if}}"></i>
      <span>{{#if hasApiKey}}API key ready{{else}}API key missing{{/if}}</span>
    </div>
  </header>

  <div class="ns-import-layout">
    <fieldset class="ns-import-panel ns-import-types-panel">
      <legend>Import</legend>
      <div class="ns-import-options">
        {{#each importTypes}}
          <label class="ns-import-option">
            <input type="checkbox" name="importTypes.{{key}}" value="1" checked>
            <span class="ns-import-option-icon"><i class="{{icon}}"></i></span>
            <span>{{label}}</span>
          </label>
        {{/each}}
      </div>
    </fieldset>

    <fieldset class="ns-import-panel ns-import-spell-routing">
      <legend>Spells</legend>
      <div class="ns-import-tree">
        <div>Netherscrolls</div>
        <div><span></span>Spells</div>
        <div><span></span><span></span>Level1</div>
        <div><span></span><span></span><span></span>School</div>
      </div>
      <div class="ns-import-school-list">
        {{#each spellSchools}}
          <span>{{label}}</span>
        {{/each}}
      </div>
      <div class="ns-import-default-image">
        <img src="{{defaultDocumentImage}}" alt="">
        <span>Default image</span>
      </div>
    </fieldset>

    <fieldset class="ns-import-panel ns-import-since-panel">
      <legend>Range</legend>
      <label class="ns-import-since-toggle">
        <input type="checkbox" name="sinceEnabled" value="1">
        <span>Since...</span>
      </label>
      <input type="date" name="sinceDate" value="{{defaultSinceDate}}" disabled>
      <div class="ns-import-forever">Forever</div>
    </fieldset>
  </div>

  <footer class="sheet-footer flexrow">
    <button type="submit">
      <i class="fa-solid fa-cloud-arrow-down"></i>
      Import Selected
    </button>
  </footer>
</form>
